@page
@* @model KubePlayground.Views.Home.IndexModel *@

<p>
    <ul>
        <li><a href="/home/SignalRTest">Signal R Test</a></li>
        <li><a href="/home/JobHome">Job Testing</a></li>
    </ul>
</p>

